/* styles.css */
.gradient-text {
  background: linear-gradient(to right, #38BDF8, #8B5CF6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

html {
  scroll-behavior: smooth;
}

